# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
.cache/
pytest_cache/
.ruff_cache/

# Local config / secrets
*.env

# Ignore copilot stuff
.github/
docs/

# Proto files
/proto/

config.json
